*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



header{
    background-color: rgb(226, 227, 238);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px ;



}



.logo{

    text-decoration: none;
    color: rgb(252, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;


}


.navigation a{

    color: rgb(21, 0, 214);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left:30px ;
}

.navigation a:hover{
    color: blueviolet;
    transition: 1s;


}
    

section{


    padding:100px 200px ;

}
.main{

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("photo_2022-11-16_01-27-26.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.main h2{

color: rgb(255, 255, 255);
font-size: 1.4em;
font-weight: 500;

}

.main h2 span{
     display:inline-block;
    color: rgb(0, 0, 255);
    font-size: 3em;
    font-weight: 600;


}
.main h3{

    color: rgb(251, 252, 255);
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom:30px ;
    
    }

    .main-btn{


        color: antiquewhite;
        background-color: rgb(1, 14, 194);
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        display:inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        transition: 0.7s ease;


    }
    .main-btn:hover{

        background-color: rgb(2, 2, 121);
        transform: scale(1.1);
    }

    .title{
        display: flex;
        justify-content: center;
        color: blue;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;

    }

    .contend{

        
    }